.content{
	padding-left: 240px;
}

.menu-logo{
	width:80%;
	margin: 0 auto;
	display: block;
}

.side-nav li{
	margin: 0 auto;
	font-family: 'Helvetica';
	font-weight: bold;
}

td, th {
	padding-left: 15px;
}

.italics{
	font-style: italic;
}

#loading_modal img{
	display: block;
	margin: 0 auto;
}

.toast-success{
	background-color: #66bb6a ;
}

.toast-fail{
	background-color: #ef5350;
}

.material-icons{
	vertical-align: middle;
}

.menu-title{
	margin-left: 15px;
}

.span-logged{
	background-color: #1de9b6;
	border-radius: 3px;
	padding: 5px 10px;
	margin: 0 auto;
	margin-left: 10px;
	margin-right: 10px;
	display: none;
	font-size: 16px;
}