.content{
	padding-left: 240px;
}

.menu-logo{
	width:80%;
	margin: 0 auto;
	display: block;
}

.side-nav li{
	margin: 0 auto;
	font-family: 'Helvetica';
	font-weight: bold;
}

td, th {
	padding-left: 15px;
}

.italics{
	font-style: italic;
}

#loading_modal img{
	display: block;
	margin: 0 auto;
}